{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_list %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
<fieldset class="module aligned ">
  <div class="form-row field-name">
    <div>
      <label class="required" for="id_users">Associated Users:</label><br>
      <table id="id_users">
        <thead>
          <tr>
            <th>Email</th>
            <th>First</th>
            <th>Last</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          {% for user in original.get_users %}
          <tr>
            <td>{{ user }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.get_points }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</fieldset>
{% endblock %}
