{% extends "base.html" %}
{% load staticfiles app_tags %}

{% block content %}
<div class="row center">
  <div class="col-md-12" id="challengeDetail">
    <div class="row">
      <div class="col-md-4">
        <div class="pageHeader">
          <h2>{{ challenge.name }}</h2>
          <p>{{ challenge.details }}</p>
          <p class="activityField"><small>Points to earn: {{ challenge.points }}&nbsp;&nbsp;|&nbsp;&nbsp;Time left: {{ challenge.time_left }} days</small></p>
          <p class="activityField"><small>Status: <span class="status" id="{% get_challenge_status challenge%}">{% get_challenge_status challenge as status %}{{ status|upper }}</span></small></p>
        </div>
        {% if status == 'accepted' %}
        {% include "location_form.html" %}
        {% endif %}
      </div><hr>
      <div class="col-md-4">
        <p class="footerButton"><a class="footerButtonLink" href="{% url 'accept_challenge' challenge.id %}" role="button">Accept this Challenge</a></p>
        <p class="footerButton"><a class="footerButtonLink" href="{% url 'challenge_list' %}" role="button">Do This Later</a></p>
        <p class="footerButton"><a class="footerButtonLink" target="_blank" href="https://www.yellowpages.com/" role="button">Show Yellowpages.com</a></p>
      </div>
    </div>
  </div>
  {% include "complete_challenge.html" %}
</div>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script type="text/javascript">
  function changeColor(dropdownList){if (dropdownList.value){dropdownList.style.color = '#555'};}
  {% for field in form.errors %}
  $( "input[name='{{ field }}']").attr( "class","form-control alert-danger");
  $( "select[name='{{ field }}']").attr( "class","alert-danger");
  {% endfor %}
  $(".complete").click(function(){
    var form = $("#location_form");
    form.validate()
    if (form.valid()){
      $("#challengeDetail").css("display","none")
      $("#completeChallenge").css("display","inline")
    }
    else
      $('label.error').css("color","red")
  });
  $(".feeling").click(function(){
    $("#feelingChoice").val($(this).text());
    $("#location_form").submit();
  })
</script>
{% endblock %}
