{% extends "base.html" %}
{% load staticfiles app_tags %}

{% block content %}
<div class="row center">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <h3 class="sectionTitle">Main Challenge</h3>
        <h4>{{ main.name }}</h4>
        <p>{{ main.details|truncatechars:125 }}</p>
        <p class="activityField"><small>Points to earn: {{ main.points }}&nbsp;&nbsp;|&nbsp;&nbsp;Time left: {{ main.time_left }} days</small></p>
        <p class="activityField"><small>Status: <span class="status" id="{% get_challenge_status main %}">{% get_challenge_status main as status %}{{ status|upper }}</span></small></p>
        <p class="goThere"><a class="btn btn-default" href="{% url 'challenge_detail' main.id %}" role="button">Go there »</a></p>
      </div><hr>
      <div class="row">
        <div class="col-md-4">
          <h3 class="sectionTitle">Bonus Challenge</h3>
          <h4>{{ bonus.name }}</h4>
          <p>{{ bonus.details|truncatechars:122 }}</p>
          <p class="activityField"><small>Points to earn: {{ bonus.points }}&nbsp;&nbsp;|&nbsp;&nbsp;Time left: {{ bonus.time_left }} days</small></p>
          <p class="activityField"><small>Status: <span class="status" id="{% get_challenge_status bonus %}">{% get_challenge_status bonus as status %}{{ status|upper }}</span></small></p>
          <p class="goThere"><a class="btn btn-default" href="{% url 'challenge_detail' bonus.id %}" role="button">Go there »</a></p>
        </div>
      </div><hr>
      <div class="row">
        <div class="col-md-4">
          <h3 class="sectionTitle">Acts</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-default" href="{% url 'act_entry' %}" role="button">Go there »</a></p>
        </div>
      </div><hr>
      <div class="col-md-4">
        <p class="footerButton"><a class="footerButtonLink" href="{% url 'my_activity' %}" role="button">Show My Activity</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
