{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row center">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="pageHeader">
          <h2>{{ challenge.name }}</h2>
          <p>{{ challenge.details }}</p>
          <p><small><b>Points to earn: {{ challenge.points }}&nbsp;&nbsp;|&nbsp;&nbsp;Time left: {{ challenge.time_left }} days</b></small></p>
          <p><small><b>Status: <span class="status" id="{{ status }}">{{ status|upper }}</span></b></small></p>
        </div>
        {% if status != 'completed' %}
        {% include "location_form.html" %}
        {% endif %}
      </div><hr>
      <div class="col-md-4">
        <p class="footerButton"><a class="footerButtonLink" href="{% url 'accept_challenge' challenge.id %}" role="button">Accept this Challenge</a></p>
        <p class="footerButton"><a class="footerButtonLink" href="{% url 'challenge_list' %}" role="button">Do This Later</a></p>
        <p class="footerButton"><a class="footerButtonLink" target="_blank" href="https://www.yellowpages.com/" role="button">Show Yellowpages.com</a></p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function changeColor(dropdownList){if (dropdownList.value){dropdownList.style.color = '#555'};}
  {% for field in form.errors %}
  $( "input[name='{{ field }}']").attr( "class","form-control alert-danger");
  $( "select[name='{{ field }}']").attr( "class","alert-danger");
  {% endfor %}
</script>
{% endblock %}
