{% extends "base.html" %}
{% load staticfiles app_tags %}

{% block content %}
<div class="row center">
  <div class="col-md-12" id="challengeDetail">
    <div class="row">
      <div class="col-md-4">
        <div class="pageHeader">
          <h2>{{ challenge.name }}</h2>
          <p>{{ challenge.details }}</p>
          <p class="activityField"><small>Points to earn: {{ challenge.points }}&nbsp;&nbsp;|&nbsp;&nbsp;Time left: {{ challenge.time_left }} days</small></p>
          <p class="activityField"><small>Status: <span class="status" id="{% get_challenge_status challenge%}">{% get_challenge_status challenge as status %}{{ status|upper }}</span></small></p>
        </div>
        {% if status == 'Accepted' %}
        {% include "location_form.html" %}
        {% endif %}
      </div><hr>
      <div class="col-md-4">
        {% if status == 'Pending' %}<p class="footerButton"><a class="footerButtonLink" href="{% url 'accept_challenge' challenge.id %}" role="button">Accept this Challenge</a></p>{% endif %}
        <a class="footerButtonLink" href="{% url 'challenge_list' %}" role="button"><p class="footerButton">Back to list</p></a>
        <a class="footerButtonLink" target="_blank" href="https://www.yellowpages.com/" role="button"><p class="footerButton">Show Yellowpages.com</p></a>
      </div>
    </div>
  </div>
  {% include "complete_challenge.html" %}
</div>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="{% static 'js/challenge_detail.js' %}"></script>
{% endblock %}
