{% extends "base.html" %}
{% load staticfiles app_tags %}
{% block meta %}
<meta property="og:url"           content="https://beamobile.herokuapp.com/" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Be A" />
<meta property="og:description"   content="Our mission is to use our product knowledge and creativity to support our clients marketing goals." />
<meta property="og:image"         content="https://s3.amazonaws.com/beamobile/bea_logo.png" />
{% endblock %}

{% block content %}
<div class="row" >
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="pageHeader center"><h3 class="sectionTitle">Activities to Date</h3></div>
        <p class="sectionPoints">Points</p><br>
        <hr class="topHR">
        {% for activity in activities %}
        {% if activity.challenge %}
        <!-- if activity is a Challenge -->
        <h4 class="activityName">{{ activity.challenge.name }}</h4>
        <p class="activityPoints">{{ activity.challenge.points }}</p>
        <div class="activityFields">
          <p class="activityField"><small>Date Started: {{ activity.challenge.date_start|date:"m/d/y" }}&nbsp;|&nbsp;Completed: {% if activity.date_completed %}{{ activity.date_completed|date:"m/d/y" }}{% else %}-{% endif %}</small></p>
          <!-- <p class="activityField"><small>Date Completed: {% if activity.date_completed %}{{ activity.date_completed|date:"m/d/y" }}{% else %}-{% endif %}</small></p> -->
          <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbeamobile.herokuapp.com%2F&amp;src=sdkpreparse"><img class="shareActivity" src="https://s3.amazonaws.com/beamobile/fb_square_icon.png" width="25px" height="25px"/></a>
          <a class="twitter-share-button" target="_blank" href="http://twitter.com/share?text=I just completed the challenge: {{ activity.challenge.name }} on&url=https://beamobile.herokuapp.com&hashtags=BE A"><img class="shareActivity" src="https://s3.amazonaws.com/beamobile/twitter_sqaure_icon.png" width="25px" height="25px"/></a>
          <p class="activityField"><small>Status: <span class="status" id="{% get_challenge_status activity.challenge%}">{% get_challenge_status activity.challenge as status %}{{ status|upper }}</span></small></p>
        </div>
        {% else %}
        <!-- activity is an Act -->
        <h4 class="activityName">{{ activity.name }}</h4>
        <p class="activityPoints">5</p>
        <div class="activityFields">
          <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbeamobile.herokuapp.com%2F&amp;src=sdkpreparse"><img class="shareActivity" src="https://s3.amazonaws.com/beamobile/fb_square_icon.png" width="25px" height="25px"/></a>
          <a class="twitter-share-button" target="_blank" href="http://twitter.com/share?text=I just completed an act on&url=https://beamobile.herokuapp.com&hashtags=BE A"><img class="shareActivity" src="https://s3.amazonaws.com/beamobile/twitter_sqaure_icon.png" width="25px" height="25px"/></a>
          <p class="activityField"><small>Date: {{ activity.created_on|date:"m/d/y" }}</small></p>
        </div>
        {% endif %}
        <hr>
        {% empty %}
        <p class="emptyActivities">You have not done any activities!</p>
        {% endfor %}
        <p class="sectionPoints">Points left to redeem: {{ user.get_points }}</p><br>
        <p class="sectionPoints">Points redeemed for Merchandise: 0</p><br><br><hr style="margin-bottom:200px;">
        <div class="col-md-4 fixed">
          <p class="footerButton"><a class="footerButtonLink" href="{% url 'redeem_points' user.id %}" role="button">Redeem Points</a></p>
          <p class="footerButton"><a class="footerButtonLink" href="{% url 'friend_activity' %}" role="button">Friend Activity</a></p>
          <p class="footerButton"><a class="footerButtonLink" href="{% url 'challenge_list' %}" role="button">Back to List</a></p>
        </div>
      </div>
  </div>
</div>
<script>
$("#completeChallenge")[0].scrollIntoView({
    behavior: "smooth", // or "auto" or "instant"
    block: "start" // or "end"
});
</script>
{% endblock %}
