<body>
  <div style="background-color:#fff;margin:0 auto 0 auto;padding:30px 0 30px 0;color:#4f565d;font-size:13px;line-height:20px;font-family:'Helvetica Neue',Arial,sans-serif;text-align:left;">
    <center>
      <table style="width:550px;text-align:center">
        <tbody>
          <tr>
            <td style="padding:0 0 20px 0;border-bottom:1px solid #e9edee;">
              <a href="#" style="display:block; margin:0 auto;" target="_blank">
                <img src="https://s3.amazonaws.com/beamobile/bea_logo.png" width="275" height="200" alt="Be A logo" style="border: 0px;">
              </a>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding:30px 0;">
              <p style="color:#1d2227;line-height:28px;font-size:22px;margin:12px 10px 20px 10px;font-weight:400;">Be A Store Discount Code Information</p>
              <p style="margin:0 10px 10px 10px;padding:0;">You redeemed {{ points }} points worth ${{ value }} that can be accessed using the following Discount Code: <strong>{{ discount_code }}</strong></p>
              <p style="margin:0 10px 10px 10px;padding:0;">Do not lose this Discount Code number as it cannot be replaced!</p>
              <p style="margin:0 10px 10px 10px;padding:0;">You can use this Discount Code in your cart when checking out on the Be A Rocks Merchandise website at this link: <a href="http://store.be-a.rocks">http://store.be-a.rocks</a></p>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="padding:30px 0 0 0;border-top:1px solid #e9edee;color:#9b9fa5">
              If you have any questions you can contact us at <a style="color:#666d74;text-decoration:none;" href="mailto:be.a.rocksmarketing@gmail.com" target="_blank">be.a.rocksmarketing@gmail.com</a>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </div>
</body>
