footer {
    text-align: center;
}
select {
    border: 1px solid #ccc;
    text-align-last: center;
    height: 34px;
}
input, select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Nav Bar*/

.navbar {
    background-color: #eae9e9;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

/* endNavBar */


/* Register Page */

.col-xs-6 {
    padding-left: 0px;
    margin-bottom: 15px;
}
#inputPassword {
    margin-bottom: 10px;
}
.required:before {
    content: '*';
    color: red;
}

/* endRegister */


/* Challenge List Page */

.sectionTitle, .footerButton {
    font-weight: bold;
}
.btn-default:hover {
    background-color: #fff;
}
.footerButton {
    border-radius: 25px;
    padding: 10px 0px;
    text-align: center;
    background-color: #f1ecec;
}
.footerButton:hover, .footerButton:active {
    background-color: #d2d2d2;
}
.footerButtonLink, .footerButtonLink:hover {
    color: black;
    text-decoration: none;
}

/* endChallengeList */


/* Challenge Detail Page */

.city {
    padding-right: 0px;
}
.state {
    padding-right: 10px;
}
.center {
    text-align: center;
}
.locationHeader {
    margin-top: 15px;
}
.submitButtonDiv {
    text-align: center;
    width: 100%;
}
.submit {
    padding: 6px 60px;
}
.status:before {
    content: ' \25CF';
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#pending:before {
    color: #ffff4d;
}
#accepted:before {
    color: #2c8af1;
}
#completed:before {
    color: #45fb1b;
}
.stateDropdown {
    color: silver;
    background-color: transparent;
}
.stateDropdown option:checked {
    color: black;
}

/* endChallengeDetail */

.locationHeader {
    margin-top: 15px;
}
.submitButtonDiv {
    text-align: center;
    width: 100%;
}
.submit {
    padding: 6px 60px;
}

/* endChallengeDetail */
