body {
    overflow-x: hidden !important;
    width: 100%;
    position: relative;
    background-color: #2BC4CD;
}
footer {
    text-align: center;
}
.footerRow {
    margin-bottom: 5px;
    font-size: 12px;
}
.footerLink {
    color: black;
}
select {
    border: 1px solid #ccc;
    text-align-last: center;
    height: 34px;
}
input, select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Nav Bar*/

.navbar {
    background-color: #912889;
    border-color: #912889;
}
.navbar-header, .navbar-nav {
    min-height: 110px;
}
.navbar-nav {
    padding: 10%;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.nav-item.nav-link {
    color: white;
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-left: 90px;
}

/* endNavBar */


/* Register Page */

.col-xs-6 {
    padding-left: 0px;
    margin-bottom: 15px;
}
#inputPassword {
    margin-bottom: 10px;
}
.required:before {
    content: '*';
    color: red;
}

/* endRegister */


/* Challenge List Page */

.sectionTitle, .footerButton {
    font-weight: bold;
}
.goThere {
    margin-top: 5px;
}
.btn-default:hover {
    background-color: #fff;
}
.footerButton {
    border-radius: 25px;
    padding: 10px 0px;
    text-align: center;
    background-color: #f1ecec;
}
.footerButton:hover, .footerButton:active {
    background-color: #d2d2d2;
}
.footerButtonLink, .footerButtonLink:hover {
    color: black;
    text-decoration: none;
}

/* endChallengeList */


/* Challenge Detail Page */

.city {
    padding-right: 0px;
}
.state {
    padding-right: 10px;
}
.center {
    text-align: center;
}
.locationHeader {
    margin-top: 15px;
}
.submitButtonDiv {
    text-align: center;
    width: 100%;
}
.submit {
    padding: 6px 60px;
}
.status:before {
    content: ' \25CF';
    font-size: 25px;
    line-height: 15px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#Pending:before {
    color: #ffff4d;
}
#Accepted:before {
    color: #2c8af1;
}
#Completed:before {
    color: #45fb1b;
}
.stateDropdown {
    color: silver;
    background-color: white;
}
.stateDropdown option:checked {
    color: black;
}

/* endChallengeDetail */


/* Location Form */

.locationHeader {
    margin-top: 15px;
}
.submitButtonDiv {
    text-align: center;
    width: 100%;
}
.submit {
    padding: 6px 60px;
}

/* endLocationForm */


/* Complete Challenge Page */

.feelingDiv {
    margin-top: 10px;
}
.feeling {
    text-align: center;
    height: 80px;
    padding: 30px;
    vertical-align: middle;
    background-image: url('https://s3.amazonaws.com/beamobile/cloud.png');
    background-size: 150px 80px;
    background-repeat: no-repeat;
    background-position: center;
}

/* endCompleteChallengePage */


/* My Activity Page */

.topSection {
    margin-top: 10px;
}
.sectionName, .sectionPoints {
    margin-right: 5px;
    font-weight: bold;
}
.sectionName {
    float: left;
}
.sectionPoints {
    float: right;
}
.sectionTitle {
    font-size: 18px;
    display: inline;
    margin-top: 10px;
}
.topHR {
    margin-top: 10px;
}
.activityName {
    font-size: 15px;
    font-weight: bold;
}
.activityName, .activityPoints {
    display: inline;
}
.activityPoints, .shareActivity {
    float: right;
}
.activityPoints {
    margin: 0px;
}
.shareActivity {
    margin-right: 3px;
    margin-top: 5px;
}
.activityField {
    margin-bottom: 0px;
    font-weight: bold;
}
.activityFields p:first-child {
    margin-top: 5px;
}
.emptyActivities {
    text-align: center;
    margin-bottom: 15px;
}
.fixed {
    position: fixed;
    bottom: 55px;
    width: 100%;
    padding-right: 40px;
    padding-left: 0px;
    background-color: #2BC4CD;
    padding-top: 10px;
}

/* endActivityPage */


/* Friend Activity Page */

.friendRequests {
    margin-top: 20px;
}
.friendRow {
    height: 40px;
    font-size: 14px;
}
.friendName {
    float: left;
}
.friendName, .sectionPoints {
    margin-bottom: 0px;
}
#editRow {
    border: 1px solid #dedede;
    padding: 10px;
    display: block;
    z-index: 5;
    position: relative;
    background-color: white;
}
.behind_container {
    position: relative;
    top: -40px;
}
.behind_container a.ui-btn {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    width: 40px;
    height: 40px;
    margin: 0px!important;
    float: right;
    border: none;
    color: white;
    background-color: red;
    border: 1px solid red;
    text-shadow: none;
}
.friendButton {
    display: inline;
    float: right;
    margin-right: 2px;
}
.emptyFriends {
    text-align: center;
}

/* endFriendActivityPage */


/* Redeem Points Page */

.redeemInput {
    text-align: center;
}

/* endRedeemPointsPage */
